{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" type="text/css" href="{% static 'css/homestyles.css' %}">

        <link rel="stylesheet"  href="{% static 'css/bootstrap-5.0.0-beta2-dist/css/bootstrap.css' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    </head>

    <style>
        body, html {
        height: 100%;
        }

        .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url(./static/img/grabbackground.jpg);
        min-height: 75%; 
        }
    </style>

    <div class="row">
        <!-- this is nav -->
        <div class="col-1" style="margin-right: -61px;">
            <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <a href="{% url 'home' %}" class="nav-link py-3 border-bottom">
                        <img src="{% static '/img/homeicon.png' %}" class="navbaricon">
                        <span class="visually-hidden">Icon-only</span>
                    </a>
                    <li class="nav-item">
                        <a href="{% url 'view_food' %}" class="nav-link py-3 border-bottom">
                            <img src="{% static '/img/foodicon.png' %}" class="navbaricon">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_customer' %}" class="nav-link py-3 border-bottom">
                            <img src="{% static '/img/customericon.png' %}" class="navbaricon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
         <!-- dis is content -->
        <div class="col-11">

    <body>
        <!-- Header with image -->
        <header class="bgimg w3-display-container w3-grayscale-min" id="home">
            <div class="w3-display-middle w3-center">
                <div style="text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;">
                <span class="w3-text-white" style="font-size:90px; font-family: 'Comfortaa', Helvetica, sans-serif;">Welcome to<br>Grab Grub</span>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}
        </div>
    </div>    
    </body>
</html>
