{% extends 'Kiosk/base.html'%}
{% load static %}

{% block content %}

<!-- customer, food, quantity, ordered at, and mode of payment -->

<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h1 class="w3-center w3-padding-64"><span style="font-family: 'Montserrat';" >HERE ARE THE DETAILS OF YOUR ORDER</span></h1>
      <table id="orders">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created at</th>
            <th>Save Changes</th>
        </thead>
        
        <tbody>
          {% for f in foods %}
          <form method="POST" action="{% url 'food_details' pk=f.pk %}">{% csrf_token %}
          <tr>
            <td>Name: <input type="text" value="{{f.name}}" name="name"></td>
            <td>Description: <input type="textbox" name="description" value="{{f.description}}"></td>
            <td>Price: <input type="number" name="price" value="{{f.price}}"></td>
            <!-- Created at updates when it is edited -->
            <td>Created at: <input type="datetime" name="created_at" value="{{f.created_at}}" disabled> </td>
            <td><button type="submit">Update</button></td>
          </tr>
          </form>
          {% endfor %}
        </tbody>
        
    </table>
    </div>
  </div> 

  </div>

  <!-- Footer -->
  <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <button class="button button1" style="font-family: 'Comfortaa';"><a href="{% url 'addfood' %}">Add Food</a></button><br>
    <button class="button button1"><a href="{% url 'home' %}">Click here to go back to the home page</a></button>
  </footer>
  {% endblock %}
</body>
</html>
