{% extends 'Kiosk/base.html'%}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <div class="container">
        <p style="font-family: 'Montserrat', Helvetica, sans-serif;">{{ message }}</p>
        <div class="form-container">
            <div class="login-font"></div>
                <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                    Username: <input type="text" placeholder="Username" id="username" name="username"> <br/>
                    Password: <input type="password" placeholder="******" id="password" name="password"> <br/>
                    <input type="submit" value="Log In" id="login"> <br/>
                    <button><a href="{% url 'create_user' %}">Create an account</a></button>
                </form>
            </div>
            <br/>
        </div>
        <br>
    </div>
{% endblock %}