{% extends 'Kiosk/base.html'%}
{% load static %}

<body>
{% block content %}

<!-- customer, food, quantity, ordered at, and mode of payment -->

<div class="row">
  <div class="w3-container" id="about">
    <div class="justify-content-center w-100">
      <h1 class="w3-center w3-padding-64"><span style="font-family: 'Montserrat';" >HERE ARE THE DETAILS OF YOUR ORDER</span></h1>
      <table id="orders">
        <thead>
            <th>Customer</th>
            <th>Food</th>
            <th>Quantity</th>
            <th>Ordered at</th>
            <th>Mode of Payment</th>
            <th>Save Changes</th>
        </thead>
        
        <tbody>
          {% for o in orders %}
          <form method="POST" action="{% url 'orderdetails' pk=o.pk %}">{% csrf_token %}
            <td>Name: <input type="text" placeholder="{{o.cust_order.name}}" disabled></td>
            <td>Food: <input type="text" placeholder="{{o.food.name}}" disabled></td>
            <td>Quantity: <input type="number" step="1" name="qty" value="{{o.qty}}"></td>
            <td>Ordered at: <input type="text" placeholder="{{o.ordered_at}}" disabled></td>
            <td>Payment Method: 
              <select name="payment_mode" value="{{o.payment_mode}}">
                <option {% if o.payment_mode == "Cash" %} selected {% endif %}>Cash</option>
                <option {% if o.payment_mode == "Card" %} selected {% endif %}>Card</option>
              </select>
            </td>
            <td><button type="submit">Update</button></td>
        </form>
        
          {% endfor %}
           </tbody>
         </table>
      </div>
   </div> 
</div>

  <!-- Footer -->
  <div class="row">
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
      <h4 style="font-family: 'Comfortaa'; color: black; font-weight: 700;"> THANK YOU FOR ORDERING WITH GRAB GRUB</h4>
    </footer>
  </div>

  {% endblock %}

</body>
</html>
